<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsyuan.inventropy.mapper.FundsLogMapper">

    <insert id="insertFundsApply">
        insert into tb_funds_log(project_id,applicant_id,applied_funds,reason)
        values (#{projectId},#{applicantId},#{appliedFunds},#{reason})
    </insert>
    <update id="addMarkedById">
        update tb_funds_log set comment = #{comment}, approver_id = #{approverId},status =#{ status} where id = #{id}
    </update>
    <delete id="deleteByProjectId">
        delete from tb_funds_log where project_id = #{projectId}
    </delete>
    <select id="getFundsApprovalList" resultType="com.hsyuan.inventropy.pojo.FundsApplyDTO">
        select f.id ,p.remaining_funds as remainingFunds,u.name as applicant,f.applied_funds as appliedFunds,f.reason as reason,f.project_id as projectId,f.applied_time as appliedTime
        from tb_funds_log f
            left join tb_project_info p on f.project_id = p.id
            left join tb_user_info u on f.applicant_id = u.id
        where f.approver_id is null and f.status = 0
    </select>
    <select id="getFundsLogById" resultType="com.hsyuan.inventropy.entity.FundsLog">
        select id,project_id as projectId,applicant_id as applicantId,applied_funds as appliedFunds,reason,comment,approver_id as approverId,applied_time as appliedTime ,update_time as updateTime,status
            from tb_funds_log where id = #{id}
    </select>
    <select id="getAll" resultType="com.hsyuan.inventropy.entity.FundsLog">
        select id,project_id as projectId,applicant_id as applicantId,applied_funds as appliedFunds,reason,comment,approver_id as approverId,applied_time as appliedTime ,update_time as updateTime,status
            from tb_funds_log
        where approver_id is not null
        order by projectId
    </select>
    <select id="countFundsUnmarked" resultType="java.lang.Long">
        select count(*) from tb_funds_log where approver_id is null and status = 0
    </select>
</mapper>