<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsyuan.inventropy.mapper.ProjectMapper">
    <insert id="insert">
        insert into tb_project_info(project_name,project_type,applicant,applicant_id,funds,remaining_funds,
               content,start_time,deadline,update_time,
               status,reason) values(#{projectName},#{projectType},#{applicant},#{applicantId},#{funds},#{remainingFunds},
               #{content},#{startTime},#{deadline},#{updateTime},
               #{status},#{reason})
    </insert>
    <update id="updateProjectStatus">
        update tb_project_info set status = #{newStatus} where id = #{id}
    </update>
    <update id="updateReason">
        update  tb_project_info set reason = #{reason} where id=#{id}
    </update>
    <update id="updateProjectRemainingFunds">
        update tb_project_info set remaining_funds = #{remainingFunds} where id = #{projectId}
    </update>
    <update id="updateDeadline">
        update tb_project_info set deadline = #{newDeadline} where id = #{id}
    </update>
    <delete id="deleteProjectById">
        delete from tb_project_info where id = #{id}
    </delete>

    <select id="countIngProjects" resultType="java.lang.Integer">
        select count(*) from tb_project_info where  status=3  and applicant_id = #{id}
    </select>
    <select id="countFinishedProjects" resultType="java.lang.Integer">
        select count(*) from tb_project_info where  status=4  and applicant_id = #{id}
    </select>
    <select id="getUserIngProjects" resultType="com.hsyuan.inventropy.entity.Project">
        select id,project_name as projectName,project_type as projectType,applicant,applicant_id as applicantId,funds,remaining_funds as remainingFunds,
               content,start_time as startTime,deadline,update_time as updateTime,
               status,reason from tb_project_info where  status=3  and applicant_id = #{id}
    </select>
    <select id="getUserFinishedProjects" resultType="com.hsyuan.inventropy.entity.Project">
        select id,project_name as projectName,project_type as projectType,applicant,applicant_id as applicantId,funds,remaining_funds as remainingFunds,
               content,start_time as startTime,deadline,update_time as updateTime,
               status,reason from tb_project_info where  status in(4,5)  and applicant_id = #{id}
    </select>
    <select id="getUnpassedProjects" resultType="com.hsyuan.inventropy.entity.Project">
        select id,project_name as projectName,project_type as projectType,applicant,applicant_id as applicantId,funds,remaining_funds as remainingFunds,
               content,start_time as startTime,deadline,update_time as updateTime,
               status,reason from tb_project_info where  status in (0, 1)  and applicant_id = #{id}
    </select>
    <select id="getUnpassedProjectsWithLog" resultType="com.hsyuan.inventropy.pojo.UnPassedProjectDTO">
        select
            p.project_name as projectName,
            u.name as approver,
            pl.reason,
            pl.create_time as createTime,
            p.status as status
        from tb_project_info p
        inner join tb_project_log pl on p.id = pl.project_id
        left join tb_user_info u on pl.approver_id = u.id
        where p.status in (0, 1) and p.applicant_id = #{id}
        order by pl.create_time desc
    </select>
    <select id="getProjectsApprovalList" resultType="com.hsyuan.inventropy.entity.Project">
        select id,project_name as projectName,project_type as projectType,applicant,applicant_id as applicantId,funds,remaining_funds as remainingFunds,
               content,start_time as startTime,deadline,update_time as updateTime,
               status,reason from tb_project_info where  status = 0
    </select>
    <select id="getProjectById" resultType="com.hsyuan.inventropy.entity.Project">
        select id,project_name as projectName,project_type as projectType,applicant,applicant_id as applicantId,funds,remaining_funds as remainingFunds,
               content,start_time as startTime,deadline,update_time as updateTime,
               status,reason from tb_project_info where  id= #{id}
    </select>
    <select id="getAllPassed" resultType="com.hsyuan.inventropy.entity.Project">
        select id,project_name as projectName,project_type as projectType,applicant,applicant_id as applicantId,funds,remaining_funds as remainingFunds,
               content,start_time as startTime,deadline,update_time as updateTime,
               status,reason from tb_project_info
        where  status in (2,3,4,5)
        order by startTime desc
    </select>
    <select id="getProjectStatusById" resultType="java.lang.Integer">
        select status from tb_project_info where id = #{id}
    </select>
    <select id="countProjectsByStatus" resultType="java.lang.Long">
        select count(*) from tb_project_info where status = #{status}
    </select>
    <select id="countProjectsUnpassed" resultType="java.lang.Long">
        select count(*) from tb_project_info where status in (0,1)
    </select>
    <select id="getTotalFunds" resultType="java.lang.Double">
        select sum(funds) from tb_project_info
    </select>
    <select id="getTotalRemainingFunds" resultType="java.lang.Double">
        select sum(remaining_funds) from tb_project_info
    </select>
    <select id="countProjects" resultType="java.lang.Long">
        select count(*) from tb_project_info where status in (2,3,4,5)
    </select>
    <select id="getUserProjects" resultType="java.lang.Integer">
         select id from tb_project_info where applicant_id = #{id}
    </select>

</mapper>